@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(../images/2f967b6e1ea75a36f625385136a300a1_w200.gif);
    background-repeat: repeat;
    background-position-x: 20;
    background-size: 50;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 350px;
    min-width: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::after {
    content: ' ';
    position: absolute;
    height: 4px;
    width: 40px;
    bottom: 3px;
    bottom: 3px;
    left: 15%;
    border-radius: 8px;
    background: linear-gradient(45deg, #850f07, #b50f04);
}

main h2::before {
    content: ' ';
    position: absolute;
    height: 4px;
    width: 20px;
    bottom: 3px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: #850f07;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.input-field input[type="text"] {
    margin-top: 0rem;
}

.input-field input[type="date"] {
    margin-top: 0rem;
}

.input-field span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    border: 1px solid black ;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

form input[type="button"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #b50f04, #850f07);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 17.7rem;
}

form input[type="button"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to bottom, #b50f04, #850f07);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: #298cb3;
}

.footer .social-field.facebook {
    background: #053aad;
}