body {
    background-image: url("./images/2f967b6e1ea75a36f625385136a300a1_w200.gif");
    background-repeat: repeat;
    background-position-x: 20;
    background-size: 50;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
