@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main.container {
    background: white;
    max-width: 350px;
    min-width: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

button {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #b50f04, #850f07);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 17.7rem;
}

button:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to bottom, #b50f04, #850f07);
}